<div class="row footer">
  <div class="col-6 m-auto">
    <img src="img/Group 1182.png" alt="">
  </div>
  <div class="col-5">
    <div class="telegram-block gradient-back">
      <img src="img/logo2-w.png" alt="">
      <p class="yellow-back m-auto">Vebinar</p>
      <p>Biznes uchun smm-dan samarali foydalanish <br> & <br> smm orqali 0 dan boshlab daromadingizni <br> qanday oshirish mumkun
      </p>
      <div class="telegram-block-in text-dark bold Archive-text">
        <p>Kursni barcha bonuslar, chegirmalar va qo'shimcha materiallar bilan olish uchun buyurtma qoldiring</p>
        <p>Telegram messengerini tanlang</p>
        <button class="tg-b">
          <img src="img/pngflow.com.png" alt="">
          <p>Telegram</p>
        </button>
      </div>
    </div>
  </div>
</div>





/* CONTAINER _ 11 */
.container-11{
  margin-top: 100px;
  margin-bottom: 55px;
}
.container-11 .row{
  margin-top: 45px;
  margin-bottom: 55px;
}
.container-11 .row .col-6 .kurs-block{
  box-shadow: 0px 11px 33px rgba(0, 0, 0, 0.08), inset 4px 0px 0px #F34456;
  border-radius: 11px;
  border: 1px solid #F34456;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  padding: 24px 28px 24px 28px;
  margin: 20px;
  margin-left: 63px;
  font-size: 17px;
}
.container-11 .row .col-6 .kurs-block .kurs-button-in{
  background: linear-gradient(146.98deg, #F49B33 10.94%, #F20A6E 105.39%), #000000;
  width:  45px;
  height: 45px;
  border: 0;
  border-radius: 50%;
}
.container-11 .row .col-6 .kurs-block .kurs-button-in:hover img{
  transform: rotate(-180deg);
}
.container-11 .gradient-back-2{
  background: linear-gradient(167.3deg, #F49B33 10.94%, #F20A6E 105.39%), linear-gradient(176.7deg, #F47033 5.34%, #ED2768 62.84%, #D8212C 125.34%);
  margin-top: 165px;
  padding: 60px 40px 50px 68px;
}
.container-11 .gradient-back-2 img{
  margin-top: -180px;
}
.container-11 .gradient-back-2 h3{
  margin-top: 50px;
  text-align: right;
  color: rgba(255, 255, 255, 0.1);
  font-size: 45px;
  line-height: 30px;
}
.container-11 .gradient-back-2 h3 > span{
  font-size: 33px;
  line-height: 30px;
}
.container-11 .gradient-back-2 .box-radius{
  border-radius: 22px;
  border: 1px solid white;
  padding: 35px;
  margin-right: 15px;
  font-family: 'Jura', sans-serif;
  font-size: 24px;
  line-height: 32px;
}
.container-11 .gradient-back-2 .box-radius img{
  position: absolute;
  top: 163px;
}
.container-11 .telegram-block{
  background: linear-gradient(340deg,#402a66,#9e0f2e);
  border: 4px #fff;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.4);
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Jura';
  text-align: center;
  text-transform: uppercase;
}
.container-11 .telegram-block img{
  width: 350px;
  margin-bottom: 15px;
}
.container-11 .telegram-block p{
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 30px;
}
.container-11 .telegram-block .yellow-back{
  width: 100px;
  padding: 5px;
  border-radius: 11px;
  background: #FEC12F;
  font-weight: 700;
}
.container-11 .telegram-block .telegram-block-in{
  border-radius: 22px;
  background: #fff;
  padding-top: 30px;
}
.container-11 .telegram-block .telegram-block-in .tg-b img{
  width: 20px;
  height: 20px;
  margin: 0;
}
.container-11 .telegram-block .telegram-block-in .tg-b p{
  margin: 0;
  padding: 0;
}
.container-11 .telegram-block .telegram-block-in .tg-b{
  border-radius: 11px;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 95%;
  font-size: 18px;
  color: #fff;
  background:#27A5E7;
  box-shadow:1px 1px 5px #27A5E7;
  border: 0;
}
.container-11 .telegram-block .telegram-block-in .tg-b:hover{
  box-shadow:1px 1px 25px #27A5E7;
  transition: 0.3s;
}
