@font-face {
  font-family: 'Archive';
  src: url("../fonts/Archive.otf") format("opentype");
}
html {
  scroll-behavior: smooth;
}
h3{
  font-family: 'Archive';
}
.Archive-text{
  font-family: 'Archive';
}
.Ibm-text{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

body{
  font-family: 'Jura', sans-serif;
  background: url(../img/rect8.png) no-repeat;
  background-position: left top;
  background-size: 1200px 400px;
}
.Jura-text{
  font-size: 22px;
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}
.main-buttons .btn{
  height: 55px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.arrow-pic {
  margin-left: 10px;
}
.btn{
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
.main-buttons .btn:hover{
  color: #fff;
  box-shadow: 0 4px 22px rgba(0,0,0,0.7);
}
.btn-color {
  background: -webkit-linear-gradient(277.6deg, #F49B33 10.94%, #F20A6E 105.39%);
  background: linear-gradient(172.4deg, #F49B33 10.94%, #F20A6E 105.39%);
  box-shadow: 0px 4px 15px rgba(244, 22, 36, 0.31);
  border-radius: 111px;
}
.bonus-timer{
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.35);
  background-color: #FFFFFF;
  border: 8px solid #F99B0F;
  border-top: 60px;
  border-left: 50px;
  border-right: 50px;
  border-radius: 25px;
}
.title-box{
  font-weight: 400;
  padding: 10px 0 10px 10px;
  margin: 15px;
}
span{
  color: #F22C5A;
}

.color-2{

}

/* TIMER CLOCK -------------------------------------------------------------------------*/
.timer-clock{
  margin-top: 38px;
  margin-left: 24px;
  font-family: 'Overpass', sans-serif;
}
.timer-clock li span {
  color: white;
  margin-top: 50px;
}
ul.countdown {
  list-style: none;
  padding: 0;
  display: block;
  text-align: center;
}
ul.countdown li {
  display: inline-block;
  background: -webkit-linear-gradient(277.6deg, #F49B33 10.94%, #F20A6E 105.39%);
  background: linear-gradient(172.4deg, #F49B33 10.94%, #F20A6E 105.39%);
  box-shadow: 0px 4px 15px rgba(244, 22, 36, 0.31);
  border-radius: 10px;
  height: 105px;
  width: 70px;
  margin: 8px;
}
ul.countdown li span {
  font-size: 41px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
}
ul.countdown li p {
  color: white;
  font-size: 15px;
}
/* -------------------------------------------------------------------------------------- */

/* 2 CONTAINER ---------------------------------------------------------------------------*/

.container-2 h1{
  font-size: 75px;
  font-family: 'IBM Plex Sans', sans-serif;
}
h3{
  font-family: 'Archive';
  text-transform: uppercase;
  font-size: 24px;
}
/* 3 CONTAINER ---------------------------------------------------------------------------*/

.container-3 .row .col-7 p{
  font-family: 'Jura';
  font-weight: 500;
  color: #3C5185;
}
.container-3 h4{
  font-family: 'Archive';
  text-transform: uppercase;
}

.product-details {
  margin: 60px 90px 0 40px;
  width: auto;
  height: 340px;
}
.product-details-active {
  margin: 60px 90px 0 40px;
  width: auto;
  height: 340px;
}

@media (min-width: 320px) and (max-width: 411px){

  body{
    background: none;
  }
  .container-1 .rect41{
    position: absolute;
    width: 535.19px;
    height: 480.4px;
    left: -200px;
    top: 200.56px;
  }
  .container-1 .row .col-4{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-1 .col-4 .logo1{
    padding-left: 44px;
    padding-top: 35px;
  }
  /* TODO:  */
  .container-1 .row .col-4 .logo-rect-item{
    height: 57px;
    width: 18px;
    background: #F47232;
    margin-top: 35px;
  }
  .container-1 .col .phone h3{
    font-family: 'Saira Stencil One';
    text-transform: uppercase;
    font-size: 24px;
  }
  .container-1 .col .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    color: black;
    padding-left: 19px;
    padding-top: 42px;
  }
  .container-1 .col .phone img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }
  .container-1 .logo2{
    position: absolute;
    top: 225px;
    left: 19px;
    width: auto;
    height: 90px;
  }
  .container-1 .text{
    width: auto;
    padding: 530px 10px 0 10px;
    line-height: 34px;
  }
  .main-buttons .btn{
    margin: 43px 0 0 10px;
  }
  .bonus-timer{
    width: auto;
    height: 275px;
    text-align: center;
    margin: 70px 0 60px 20px;
  }
  .title-box{
    font-weight: 400;
    padding: 10px 0 0 0;
  }
  .Jura-text{
    font-size: 20px;
    line-height: 27px;
  }
  .title-box img {
    visibility: hidden;
  }
  .container-2{
    height: 800px;
    width: auto;
    background-color: #fff;
    background: url(../img/Group.png) no-repeat;
    background-position: right bottom;
    background-size: contain;
  }
  .container-2 h3{
    margin-left: 30px;
    font-size: 40px;
    line-height: 55px;
  }
  .container-2 p{
    padding-left: 30px;
    width: auto;
    padding-top: 20px;
  }
  .container-2 p.Jura-text{
    font-size: 18px;
  }
  .container-2 img{
    margin: 20px 0 20px 30px;
  }
  .col .row {
    margin-left: 18px;
    margin-top: 70px;
  }
  .col .row .col p {
    padding: 0;
    width: 250px;
    font-size: 22px;
  }
  .timer-clock{
    margin: 0;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) { ... }

@media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) {
  .content {
    margin: auto;
    width: 1440px;
    padding-top: 58px;
    /* background: url(../img/rect8.png) no-repeat;
    background-position: left top;
    background-size: auto; */
  }

  .content-part {
    width: 1400px;
    margin: auto;
  }

  .container-1 {
    position: relative;
    background-color: white;
    border-radius: 22px;
    height: 850px;
  }

  .content .container-1 .rect41 {
    position: absolute;
    width: 868.62px;
    height: 826.14px;
    top: auto;
    left: 527px;
  }

  .container-1 .col-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container-1 .col-4 .logo1 {
    padding-left: 32px;
    padding-top: 40px;
  }

  .container-1 .logo-rect-item {
    width: 30px;
    height: 60px;
    background: #F47232;
    margin-top: 40px;
  }

  /* NAVIGATION */
  .container-1 .navbar {
    width: 100%;
  }

  .container-1 nav > img {
    padding-top: 45px;
    padding-left: 63px;
  }

  .container-1 .col-8 ul li a {
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 19px;
  }

  .container-1 .col-8 ul {
    margin-right: 80px;
    margin-top: 20px;
  }

  .container-1 .col-8 ul li a::after {
    font-family: 'Jura', sans-serif;
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .container-1 .col-8 ul li a:hover::after {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .container-1 .nav-item {
    padding: 10px;
  }

  /* -------------------------- */
  /* PHONE NUMBER and Logo 2 */
  h3 {
    font-family: 'Archive';
    text-transform: uppercase;
    font-size: 33px;
  }

  .container-1 .col .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    margin-left: 60px;
    margin-top: 52px;
  }

  .container-1 .col .phone img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  .container-1 .logo2 {
    position: absolute;
    left: 700px;
    top: 150px;
  }

  /* -------------------------- */
  .Jura-text {
    font-size: 22px;
    font-family: 'Jura', sans-serif;
  }

  .container-1 .text {
    padding-top: 100px;
    width: 600px;
    padding-left: 60px;
    line-height: 34px;
  }

  /* BUTTONS */
  .main-buttons .btn {
    margin: 30px 20px 0 60px;
  }

  /* -------------------------- */
  .bonus-timer {
    margin: 50px 0 0 60px;
    width: 530px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .title-box {
    width: 200px;
    font-weight: 400;
    padding: 10px 0 10px 10px;
    margin: 15px;
  }

  /* TIMER */
  /* -------------------------- */
  /* container - 2  */
  .container-2 {
    height: 470px;
    background-color: #fff;
    background: url(../img/Group.png) no-repeat;
    background-position: right bottom;
    padding: 50px 15px 0 15px;;
  }

  .container-2 h3 {
    font-family: 'Archive';
    padding-left: 60px;
    font-size: 41px;
  }

  .container-2 p {
    padding-left: 60px;
    width: 650px;
    padding-top: 20px;
  }

  .container-2 img {
    margin: 20px 0 20px 60px;
  }

  .col .row {
    margin-left: 30px;
  }

  .container-2 .col .row .col p {
    padding: 0;
    width: 250px;
  }

  /* -------------------------- */
  .container-3 .col h3 {
    font-family: 'Archive';
    text-align: center;
    margin: auto;
    padding: 35px 0 45px 0;
  }

  .container-3 .round-button a {
    color: #3C5185;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 35px;
    padding: 12px 30px 12px 30px;
    margin: 0 20px 0 20px;
    transition: 0.5s;
    width: auto;
  }

  .container-3 .round-button a:hover {
    border: 2px solid #F22C5A;
    border-radius: 35px;
    color: #F22C5A;
    transition: 0.5s;
  }

  .container-3 .col ul li a {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: block;
  }

  .container-3 h4 {
    font-size: 35px;
    padding: 22px 0 0 30px;
  }

  .container-3 .row .col-7 p {
    padding: 22px 0 0 30px;
    font-size: 20px;
    line-height: 30px;
  }

  .photo-to-cont-3 {
    margin-left: 190px;
  }

  /* CONTAINER-4 */
  .container-4 .row {
    margin-top: 60px;
    padding: 20px 0 60px 0;
  }

  .container-4 .rounded-button {
    border: 2px solid #FF5931;
    border-radius: 35px;
    color: #F22C5A;
    width: 180px;
  }

  .container-4 .rounded-button ul li a {
    color: black;
  }

  .container-4 .rounded-button ul li a:hover {
    color: #fff;
  }

  .container-4 .rounded-button .rounded-back {
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: 'Archive';
    font-size: 22px;
    line-height: 25px;
  }

  .container-4 .rounded-button .rounded-back:hover {
    border-radius: 50%;
    background-color: #FF5931;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
  }

  .container-4 .row .row .col-4 h5 {
    width: 300px;
    font-size: 18px;
    line-height: 25px;
  }

  .container-4 .row .row .col-4 img {
    width: 114px;
    height: 115px;
  }

  .container-4 .row .row .col-4 {
    display: flex;
    padding-top: 30px;
  }

  .main-button {
    margin: auto;
  }

  /* Container-5 */
  .container-5 .col h3 {
    font-family: 'Archive';
    text-align: center;
    margin: auto;
    padding: 35px 0 45px 0;
  }

  .container-5 .row .col-10 {
    height: 150px;
  }

  .container-5 .row .col-10 img {
    margin: 19px;
  }

  .container-5 .row .col-8 {
    height: 150px;
  }

  .container-5 .row .col-8 img {
    margin: 30px;
  }

  .container-5 .row .col-4 img {
    width: 28px;
    height: 28px;
    margin-right: 15px;
  }

  .container-5 .row .col-4 p {
    line-height: 30px;
  }

  /*container -6 moduli*/
  .container-6{
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .container-6 h3{
    margin: 50px;
  }
  .container-6 .modul-button button.modul-button-in {
    background: linear-gradient(158.52deg, #F2623D 3.01%, #EE307C 39.7%, #EC125A 85.88%);
    box-shadow: 0px 11px 16px rgba(236, 24, 97, 0.25);
    border-radius: 50%;
    border: 0;
    font-size: 27px;
    width: 67px;
    height: 67px;
    line-height: 27px;
    margin: 10px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .container-6 .modul-button button.modul-button-in:hover{
    background: linear-gradient(158.52deg, #FFC456 3.01%, #FFAB01 39.7%, #F47960 85.88%);
  }
  .descr{
    padding: 10px 10px 10px 70px;
    border-radius: 111px;
    margin-top: -78px;
    margin-left: 15px;
    width: 270px;
    height: 67px;
    border: 4px solid #4D8DFF;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    box-shadow:5px 5px 5px 5px rgba(0,0,0,0.1);
    color: #181059;
    position: relative;
    z-index: 1;
  }
  .container-6 .modul-button button.modul-button-in:hover .descr{

  }
  .container-6 .modul-image{
    margin-top: 40px;
  }
  .container-6 .row .col-6 .row{
    margin-left: 25px;
  }
  .first-1{
    margin-left: -120px;
  }
  .first-2{
    margin-left: -60px;
  }
  .first-3{
    margin-left: -20px;
  }
  .container-6 .module-block-l{
    margin-right: -300px;
  }
  .first-1-l{
    margin-left: 0;
  }
  .first-2-l{
    margin-left: -60px;
  }
  .first-3-l{
    margin-left: -90px;
  }
  .container-6 .col .col .main-buttons .btn . {
  }

  /* CONTAINER - 7 */
  .container-7 .col h3{
    font-family: 'Archive';
    text-align: center;
    margin: auto;
    padding: 35px 0 45px 0;
  }
  .container-7 .row .col-8 img {
    width: 685px;
    height: 465px;
    margin-top: 50px;
    margin-left: 175px;
  }
  .container-7 .row .left img {
    width: auto;
    height: auto;
    margin-right: 70px;
    margin-bottom: 30px;
  }
  .container-7 .row .right img{
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-bottom: 30px;
    transform: scale(-1, 1)
  }
  .container-7 .main-buttons .btn{
    padding: 0 50px 0 50px;
    margin-top: 0;
    margin-left: 100px;
  }

  .box{
    position: relative;
    height: 150px;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background: #fff;
  }
  .box:before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: #fff;
    z-index: -1;
  }
  .box:after{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: #fff;
    z-index: -2;
    /* filter: blur(50px); */
  }
  .box:before,
  .box.after{
    background: linear-gradient(150deg, #F22C5A, #FFC910, #F47033);
  }
  .in-box{
    display: flex;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .Jura-text{
    font-size: 18px;
  }
  h1.in-box-number{
    font-family: 'Archive';
    color: #F22C5A;
    font-size: 55px;
    line-height: 1px;
    text-align: center;
    height: 45px;
    padding-top: 27px;
    padding-right: 22px;
  }
  h1 > img{
    padding-top: 30px;
  }
  /* CONTAINER - 8 */
  .container-8 .col {
    margin: 50px 0 40px 0;
  }
  .container-8 .rx{
    background: #FFF3F7;
    border-radius: 33px;
  }
  .stars h3{
    padding-left: 20px;
    line-height: 41px;
    padding-bottom: 25px;
  }
  .stars img{
    width: 42px;
    height: 42px;
  }
  .stars{
    padding-top: 52px;
    padding-left: 30px;

  }
  .gradient-back{
    background: linear-gradient(130.4deg, #F49B33 25.94%, #F20A6E 105.39%);
    box-shadow: 0px 4px 15px rgba(244, 22, 36, 0.31);
    border-radius: 33px;
    color: #fff;
  }
  .col-4 .col img{
    width: 22px;
    height: 22px;
    margin-right: 18px;
  }
  .container-8 .row .col-4 .col {
    margin: 5px 0 5px 0;
    font-size: 20px;
  }
  .money-block{
    padding-top: 100px;
    padding-left: 58px;
    color: #181059;
    padding-bottom: 50px;
  }
  .money-block p{
    text-align: left;
    margin-bottom: 0;
  }
  .money-block p > span > s{
    font-size: 19px;
    line-height: 25px;
  }
  .money-block p > strong {
    font-size: 28px;
    line-height: 35px;
  }
  .container-8 .main-buttons .btn{
    margin: 35px 0 0 0;
    padding: 0 50px 0 50px;
  }
  .container-8 .row{
    align-items: center;
  }
  .inverse,
  .inverse span{
    color: #fff;
  }
  .container-8 ul.countdown li {
    width: 100px;
  }
  .container-8 ul{
    padding-right: 30px;
  }

  /* CONTAINER - 9 */
  h3.sobirov{
    padding-top: 150px;
    padding-left: 160px;
    margin-bottom: -1px;
    font-family: Archive;
    font-style: normal;
    font-weight: normal;
    font-size: 85px;
    line-height: 44px;
    color: #EFECFD;
  }
  .container-9{
    background: #EFECFD;
    margin-bottom: 50px;
    /*background: url(../img/Group 1166.png);*/
    /*background-position: top;*/
    /*background-size: cover;*/
  }
  .container-9 .row .gradient-back{
    background: linear-gradient(125.86deg, #F47033 13.07%, #EC0E56 64.79%, #C8020E 121.01%);
    border-radius: 0 22px 22px 0;
    box-shadow: 0px 4px 15px rgba(244, 22, 36, 0.31);
  }
  .container-9 .col-3 img{
    position: absolute;
    bottom: 70px;
    margin-left: -100px;
  }
  .container-9 .row .col {
    background: #FDB946;
    border-radius: 11px;
    margin: 6px;
  }
  .container-9 .row{
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .container-9 .row .col p{
    margin: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 17px;
  }
  hr{
    width: 16px;
    background-color: #fff;
  }
  .experience{
    padding: 30px 0 0 35px;
    width:
  }
  .hide-1{
    display: none;
  }
  .gradient-image{
    margin-top: 100px;
    background: url(../img/grad-image.png) no-repeat;
    background-position: top;
  }
  .container-9 .row .col-4, .col-6{
    margin-top: 45px;
  }
  .container-9 .row .col-4 img{
    margin-left: 100px;
  }
  /* CONTAINER-10 */
  .container-10{
    margin-top: 86px;
  }
  .container-10 .col-9 .hundred-p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 138px;
    font-weight: 100;
    line-height: 100px;
  }
  .container-10 .col-9 .cashback{
    font-size: 66px;
    line-height: 55px;
    padding-left: 24px;
  }
  .container-10 img{
    margin-left: 70px;
  }
  .container-10 .col-10{
    padding: 45px 0 65px 0;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Jura';
    font-weight: 700;
  }
  .adelina{
    align-items: flex-start;
    border-radius: 22px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
    padding: 35px 0 30px 25px;
  }
  .adelina img{
    height: 140px;
    width: 140px;
    margin: 0;
    margin-right: 28px;
  }
  .adelina .logos img{
    height: 58px;
    width: 122px;
    margin: 0;
  }
  .container-10 .col h3{
    font-family: 'Archive';
    text-align: center;
    margin: auto;
    padding: 35px 0 45px 0;
  }
  .container-10 .row .col-10{
    height: 150px;
  }
  .container-5 .row .col-10 img{
    margin: 19px;
  }
  .container-10 .row .col-8{
    height: 150px;
  }
  .container-10 .row .col-8 img{
    margin: 30px;
  }
  .container-10 .row .col-4 img{
    width: 28px;
    height: 28px;
    margin-right: 15px;
  }
  .container-10 .row .col-4 p{
    line-height: 30px;
  }
  .justify-content-around p{
    margin-left: 70px;
    margin-top: 20px;
  }
  .container-10 .gradient-image {
    padding-top: 70px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }
  .container-10 .row .col-10{
    height: 0;
  }
  .container-10 .row .col-10 img{
    width: 156px;
    height: 108px;
    margin: 3px;
  }

  /* CONTAINER _ 11 */
  .container-11{
    margin-top: 100px;
    margin-bottom: 55px;
  }
  .container-11 .row{
    margin-top: 45px;
    margin-bottom: 55px;
  }
  .container-11 .row .col-6 .kurs-block{
    box-shadow: 0px 11px 33px rgba(0, 0, 0, 0.08), inset 4px 0px 0px #F34456;
    border-radius: 11px;
    border: 1px solid #F34456;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    padding: 24px 28px 24px 28px;
    margin: 20px;
    margin-left: 63px;
    font-size: 17px;
  }
  .container-11 .row .col-6 .kurs-block .kurs-button-in{
    background: linear-gradient(146.98deg, #F49B33 10.94%, #F20A6E 105.39%), #000000;
    width:  45px;
    height: 45px;
    border: 0;
    border-radius: 50%;
  }
  .container-11 .row .col-6 .kurs-block .kurs-button-in:hover img{
    transform: rotate(-180deg);
  }
  .container-11 .gradient-back-2{
    background: linear-gradient(167.3deg, #F49B33 10.94%, #F20A6E 105.39%), linear-gradient(176.7deg, #F47033 5.34%, #ED2768 62.84%, #D8212C 125.34%);
    margin-top: 165px;
    padding: 60px 40px 50px 68px;
  }
  .container-11 .gradient-back-2 img{
    margin-top: -180px;
  }
  .container-11 .gradient-back-2 h3{
    margin-top: 50px;
    text-align: right;
    color: rgba(255, 255, 255, 0.1);
    font-size: 45px;
    line-height: 30px;
  }
  .container-11 .gradient-back-2 h3 > span{
    font-size: 33px;
    line-height: 30px;
  }
  .container-11 .gradient-back-2 .box-radius{
    border-radius: 22px;
    border: 1px solid white;
    padding: 35px;
    margin-right: 15px;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
    line-height: 32px;
  }
  .container-11 .gradient-back-2 .box-radius img{
    position: absolute;
    top: 163px;
  }
}
